body{
    text-align: center;
}
#secret-word{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
}
.invisible{
    display:none;
}
.input{
    padding:8px;
    font-size:1.2em;
}
.btn-try{
    padding: 10px;
}
h1{
    margin:5 auto 5;
}
